#root {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 50%;

}

body{
    overflow:hidden;
}

.header, .logo {
    display: block;
}
.app {

}
.lots {
    display: flex;
    flex-direction: column;
    gap: 20px

}

.lot {
    border: 1px solid #d0d0d0;
    display: flex;
    flex-direction: column;
}




.clock {
    border: 1px solid #d0d0d0;
    padding: 10px 20px;
}



.icon {

}

.night {
    width:150px;
    height:152px;
    background:transparent url(./moon-and-stars.png) no-repeat center center;
}


.day {
    background: transparent url(./night-mode.png) no-repeat center center;
}

.loading {
    margin: 20px 0;
    border: 2px solid #d0d0d0;
    padding: 20px;
    border-radius: 16px;
    background: #afafaf;

}